/**=================Fuentes==========================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
/**=================Body==========================*/
body{
    background: #F4F7FB;
}
/**=================Spin1==========================*/
/**=================Cabecera==========================*/
.cabezera h2, .txt h2, a{
    color: blue;
}

.cabezera p, .txt p{
    color: gray;
}

.cabezera{
    position: fixed;
    display: flex;
    width: 95%;
    justify-content: space-around;
    margin: -15px auto;
    top: 0;
    left: 0;
    background: #F4F7FB;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.cabezera a:hover{
    background: #4F95FC;
    color: white;
    border-radius: 5px;
}

.cabezera a:link, a:visited, a:active {
    text-decoration:none;
}

.info{
    width: 50px;
    height: 16px;
    color: white;
    background: blue;
    border-style: none;
    border-radius: 5px;
    text-align: center;
}
/**=================Dibujo==========================*/
.form2 {
    width: 0; 
    height: 0;
    position: absolute;
    top: 80px;
    left: 130px;
    opacity: .1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #4F95FC;
    padding: 10;
}
/**=================Cuerpo1==========================*/
.cuerpo1{
    display: flex;
    justify-content: space-around;
    width: 91%;
    margin: auto;
    margin-top: 50px;
}

.cuerpo1 .txt{
    text-align: center;
    margin-top: 10px;
}

.cuerpo1 .options{
    display: flex;
    margin: auto;
    justify-content: center;
}

.cuerpo1 h2{
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 0;
}

.cuerpo1 p{
    font-family: 'Montserrat', sans-serif;
}

.cuerpo1 .options img{
    margin-left: 25px;
}

/**=================Cita==========================*/
.ubicacion{
    background: white;
    width: 60%;
    box-shadow: 3px 7px 5px 0px rgba(206,201,242,1);
    opacity: 1;
    margin: auto;
    position: absolute;
    top: 446px;
    left: 50px;
}

.requisitos{
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 0;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.one{
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 1;
    grid-row: 2;
}
.three{
    grid-column: 2;
    grid-row: 1;
}
.four{
    grid-column: 2;
    grid-row: 2;
}
.five{
    grid-column: 3;
    grid-row: 1;
}
.six{
    grid-column: 3;
    grid-row: 2;
}

.seven{
    grid-column: 4;
    grid-row: 1;
}

.ubicacion .seven input{
    width: 150px;
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}
/**=================Logos==========================*/
.logos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
.logos img{
    transform: scale(.5, .5);
}
/**=================Spin 2==========================*/
/**=================Principal==========================*/
.spin2 .principal{
    width: 90%;
    display: inline-flex;
    margin: auto;
}

.spin2 .principal img{
    max-width: 100%;
    max-height: 100%;
}

.spin2 .principal h2{
    font-weight: bold;
    font-size: 50px;
    color: blue;
}

.spin2 .principal p{
    margin-top: -15px;
    font-family: 'Montserrat', sans-serif;   
}
/**=================Ventajas==========================*/
.spin2 .ventajas{
    display: flex;
    text-align: center;
    margin-top: 100px;
    column-gap: 50px; /**Separacion entre columpas*/
}
.spin2 .ventajas .riesgos:hover{
    color: white;
    background: #1568D8;
    border-radius: 25px;
}
.spin2 .ventajas .inmunidad:hover{
    color: white;
    background: #1568D8;
    border-radius: 25px;
}
.spin2 .ventajas .proteccion:hover{
    color: white;
    background: #1568D8;
    border-radius: 25px;
}
.spin2 .ventajas .grupos:hover{
    color: white;
    background: #1568D8;
    border-radius: 25px;
}
/**=================Spin 3==========================*/
/**=================Principal==========================*/
.spin3{
    display: flex;
    width: auto;
    align-items: center;
}

.spin3 .imgpreparate img{
    max-width: 100%;
    max-height: 100%;
}

.info_preparate{
    width: 600%;
}

.info_preparate h2{
    font-weight: bold;
    font-size: 75px;
    color: blue;
    margin-bottom: 0;
}

.info_preparate p{
    font-family: 'Montserrat', sans-serif;
}

.spin3 .cuerpo2{
    display: flex;
    flex-direction: column;
}
.spin3 .p1, .p2, .p3, .p4, .p5{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
/**=================Spin 4==========================*/
/**=================Emergencia==========================*/
.spin4{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.spin4 .imgatento img{
    max-width: 100%;
    max-height: 100%;
}

.spin4 .spin4txt{
    width: 500%;
}

.spin4 h2{
    font-weight: bold;
    font-size: 65px;
    color: blue;
}

.spin4 p{
    font-family: 'Montserrat', sans-serif;
}
/**=================Contacto==========================*/
.spin4 .emergencia{
    display: inline-grid;
    grid-template-columns: repeat(2, 2fr);
    margin-left: 100px;
    gap: 50px;
    text-align: center;
    border-radius: 10px;
}

.spin4 .emergencia h4{
    color: #08418E;
}

.euno, .edos, .etres, .ecuatro{
    box-shadow: 0px 0px 26px 8px rgba(85,121,230,1);
}

.emergencia p{
    width: 80%;
    color: blue;
    padding: 5px;
    background: #ACC1FF;
    border-radius: 4px;
    margin: 10px auto;
}

.emergencia p:hover{
    background: blue;
    color: white;
    cursor: pointer;
}
/**=================Footer==========================*/
.about{
    display: flex;
    gap: 20px;
    margin-top: 35px;
    background: #093576;
    color: white;
    text-align: center;
}

footer h5{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}